:root {
    --prymary-text-color: #212121;
    --title-text-color: #ffffff;
    --accent-text-color: #2196f3;
    --function-text-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #e5e5e5;
}

.list {
    list-style: none;
}
a {
    text-decoration: none;
}

/* -------------header-------------- */
/* .header {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
} */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.logo-first {
    color: var(--accent-text-color);
}

.header-link-studio {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    text-decoration: none;
}
.header-link-studio:hover,
.header-link-studio:focus {
    color: var(--accent-text-color);
}

.header-link-portfolio {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--prymary-text-color);
    text-decoration: none;
}

.header-link-contacts {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--prymary-text-color);
    text-decoration: none;
}
.header-link-mail {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    text-decoration: none;
}
.header-link-mail:hover,
.header-link-mail:focus {
    color: var(--accent-text-color);
}
.header-link-tel {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--function-text-color);
    text-decoration: none;
}

/*..........--------hero-------..........*/
.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--accent-text-color);
}

/* -----------about--------------- */

.about {
    /* font-family: 'Roboto' sans-serif;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color: var(--prymary-text-color); */
}

.about-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    vertical-align: top;
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--function-text-color);
}
/* -------------function-------------- */
/* .function {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
} */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.function-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
/* -------------staff-------------- */
/* .staff {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
} */
.staff-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.staff-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.staff-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}
/* -----------footer------------- */
.footer {
    background-color: darkgray;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.footer-link-address {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.footer-link-mail {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-link-tel {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* -----------hero2------------ */
.header-link-twostudio {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--prymary-text-color);
}
.header-link-twoportfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}
.header-link-twocontacts {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--prymary-text-color);
}
.header-link-twomail {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--function-text-color);
}
.header-link-twotel {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--function-text-color);
}
/* -----------btn------------ */
.hero-btn-all {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--accent-text-color);
}
.hero-btn-all:hover,
.hero-btn-all:focus {
    color: var(--accent-text-color);
}

.hero-btn-website {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.hero-btn-application {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.hero-btn-design {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.hero-btn-marketing {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.hero-title {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--prymary-text-color);
}
.hero-text {
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--function-text-color);
}
